<div class="container">
    <div class="row">
        <div class="mt-12 col-sm-12 col-md-10 col-lg-7 centrar-div">


            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/img/home.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title cascade="true" class="text-center">
                        <h2>
                            <strong>Bienvenido</strong>
                        </h2>
                        <h5 class="indigo-text">
                            <strong>Tu computadora en un clic</strong>
                        </h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text cascade="true" class="text-center">
                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-toggle="modal" data-target="#exampleModalLongSC">Empezar</button>
                    </mdb-card-text>

                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>


        </div>
    </div>
</div>



<!-- SEGUNDA VENTANA -->
<div class="modal fade" id="exampleModalLongSC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitleSC" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitleSC">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">A que te dedicas</h2>
                <div class="centrar">

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Estudiante">
                        <label class="custom-control-label" for="Estudiante">Estudiante</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Diseñador">
                        <label class="custom-control-label" for="Diseñador">Diseñador</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Secretario">
                        <label class="custom-control-label" for="Secretario">Secretario</label>
                    </div>


                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Desarrollador">
                        <label class="custom-control-label" for="Desarrollador">Desarrollador</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Gamer">
                        <label class="custom-control-label" for="Gamer">Gamer</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Todologo">
                        <label class="custom-control-label" for="Todologo">Todologo</label>
                    </div>
                </div>
                <br>
                <h2 class="text-align: justify">Cuantas horas le dara de uso</h2>
                <div class="centrar">
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample1">1 o menos</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample2">1-4</label>
                    </div>

                    <!-- Group of default radios - option 2 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample3">4-8</label>
                    </div>

                    <!-- Group of default radios - option 3 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample4">8-12</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample5" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample5">12 o mas</label>
                    </div>
                </div>
                <br>
                <h2 class="text-center">Presupuesto</h2>
                <div class="centrar">
                    <input required type="number" name="Presupuesto" class="form-control mb-4" placeholder="Presupuesto" />
                </div>
                <br>
                <h2 class="text-center">Nivel de uso que le dara</h2>
                <div class="centrar">
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Bajo" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="Bajo">Bajo</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Bajo-Medio" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="Bajo-Medio">Bajo-Medio</label>
                    </div>

                    <!-- Group of default radios - option 2 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Medio" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="Medio">Medio</label>
                    </div>

                    <!-- Group of default radios - option 3 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Medio-Alto" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="Medio-Alto">Medio-Alto</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Alto" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="Alto">Alto</label>
                    </div>
                </div>

                <br>

                <h2 class="text-center">Edad</h2>
                <div class="centrar">
                    <input required type="number" name="Edad" class="form-control mb-4" placeholder="Edad" />
                </div>

                <br>

                <h2 class="text-center">Tipo de jobi que tiene con la computadora</h2>
                <!-- <div class="centrar"> -->
                <input required type="text" name="Jobi" class="form-control mb-4" placeholder="Jobi" />
                <!-- </div> -->

                <h2 class="text-center">Marca de equipo preferida</h2>
                <div class="centrar">

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="HP">
                        <label class="custom-control-label" for="HP">Hp</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="DELL">
                        <label class="custom-control-label" for="DELL">Dell</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="TOSHIBA">
                        <label class="custom-control-label" for="TOSHIBA">Toshiba</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ASUS">
                        <label class="custom-control-label" for="ASUS">Asus</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="LENOVO">
                        <label class="custom-control-label" for="LENOVO">Lenovo</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="SAMSUNG">
                        <label class="custom-control-label" for="SAMSUNG">Samsung</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="APPLE">
                        <label class="custom-control-label" for="APPLE">Apple</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ACER">
                        <label class="custom-control-label" for="ACER">Acer</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ALIENWARE">
                        <label class="custom-control-label" for="ALIENWARE">Alienware</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="GATEWAY">
                        <label class="custom-control-label" for="GATEWAY">Gateway</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="LANIX">
                        <label class="custom-control-label" for="LANIX">Lanix</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="OTRA">
                        <label class="custom-control-label" for="OTRA">Otra</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="NINGUNA">
                        <label class="custom-control-label" for="NINGUNA">Ninguna</label>
                    </div>
                </div>
                <br>
                <h2 class="text-center">Seccion de caracteristicas</h2>
                <br>
                <h2 class="text-center">Color que le gustaria</h2>
                <div class="centrar">
                    <input required type="text" name="Color" class="form-control mb-4" placeholder="Color" />
                </div>
                <br>
                <!-- <h2 class="text-center">Tamaño de la pantalla</h2>
                <div class="centrar">
                    <input required type="text" name="Tamaño" class="form-control mb-4" placeholder="Tamaño" />
                </div> -->
                <br>
                <h2 class="text-center">Cantidad de almacenamiento</h2>
                <div class="centrar">
                    <input required type="text" name="almacenamiento" class="form-control mb-4" placeholder="Almacenamiento" />
                </div>
                <br>
                <h2 class="text-center">Tamaño del equipo</h2>
                <div class="centrar">
                    <input required type="text" name="tamanoequipo" class="form-control mb-4" placeholder="Tamaño Del equipo" />
                </div>

                <div class="modal-footer rem-dimensions">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="sugerirPc()">Procesar</button>
                </div>
            </div>
        </div>
    </div>
</div>